<section>
  <h2>Login</h2>
  <p>login to see the latest feed on the blog!</p>
  <form id="login-blog">
    <article>
      <label for="#email-login">username</label>
      <input type="text" id="#email-login" />
    </article>

    <article>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </article>
    <button id="login-button" type="submit">Login</button>
  </form>
</section>

<script src="/public/javascript/login.js"></script>