<article>
  <form class="signup-form">
    <section>
      <label for="username-signup">username:</label>
      <input type="text" id="username-credential" />
     </section>
   <section>
      <label for="email-signup">email:</label>
      <input type="text" id="email-credential" />
    </section>
    <section>>
      <label for="password-signup">password:</label>
      <input type="password" id="password-credential" />
    </section>
    <section>
      <button type="submit">signup</button>
    </section>
  </form>

</article>
<script src="/public/javascript/signup.js"></script>